/* -----------------------------Login Button Style ---------------------------- */
.button {
    -fx-padding: 5 22 5 22;  
    -fx-border-style: none; 
    -fx-background-radius: 0;
    -fx-border-color : rgb(244,244,244);
    -fx-border-width : 2;
    -fx-background-color: rgb(43,87,154);
    -fx-background-insets: 0;
    -fx-border-insets: 0; 
    -fx-font-size: 14px;
    -fx-text-fill: rgb(255,255,255);
}
 
.button:hover{
    -fx-background-color: rgb(60,104,217);
}
 
.button:pressed{ 
    -fx-border-color : rgb(244,244,244);  
    -fx-background-color: rgb(33,33,33);
    -fx-text-fill: rgb(255,255,255);
}
 
.button:focused{   
    -fx-border-color : rgb(244,244,244);  
    -fx-background-color: rgb(60,104,217);
}
 
.button:disabled, .button:default:disabled{   
    -fx-background-color: rgb(204,204,204);
    -fx-border-color : rgb(244,244,244);
    -fx-text-fill: rgb(130,130,130);
}
 
.button:default{
    -fx-background-color: rgb(85,133,190);
    -fx-text-fill: rgb(255,255,255);
}
 
.button:default:hover{
    -fx-background-color: rgb(33,146,151);
}


/* -----------------------------Text Field Style ---------------------------- */
.text-input{
    -fx-background-radius: 0, 0;
    -fx-background-color: rgb(255,255,255);
    -fx-border-color: rgb(255,255,255);
    -fx-background-insets: 0;
    -fx-prompt-text-fill: rgb(129,129,129);
    -fx-highlight-fill: rgb(0,130,135);
    -fx-highlight-text-fill: rgb(255,255,255);
    -fx-text-fill: rgb(0,0,0);
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;    
}

.text-input:hover{
    -fx-background-color: rgb(209,207,217);
    -fx-border-color: rgb(209,207,217);
}

.text-input:focused{
    -fx-background-color: rgb(92,92,92), rgb(255,255,255);
    -fx-text-fill: rgb(0,0,0);
}
